<div class="fixed-top">
  <nav class="navbar navbar-light bg-faded">
    <div class="container navbar">
      <a class="navbar-brand" routerLink="">
        <img src="/assets/ico/android-icon-48x48.png" />
      </a>
    </div>
  </nav>
  <div class="menu">
    <ul class="nav justify-content-end ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/consoles">Consoles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/games">Jogos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/aboutme">Sobre mim</a>
      </li>
    </ul>
  </div>
</div>