img {
    width: 250px;
    height: 175px;
    margin-top: 35px;
}

div .row  { 
    margin-top: 100px;   
}
div .row.search  {
    margin-top: 60px; 
}
div.buttonJogos {
    margin: 0 auto;
    width: 33%;
}

input {
    text-align: center;
    font-family: 'Turret Road', cursive;
    background:  rgba(238, 234, 232, 0.8);  
}

.titulo {
    color: white;
    font-family: 'Mansalva', cursive;
}

h1 {
    font-size: 65px;
    color: cornsilk;
    padding-left: 20px;
    margin-top: 20px;
    font-family: 'Mansalva', cursive;
}
h2 {
    font-size: 45px;
    text-decoration: underline;
}

h4 {
    padding-left: 20px;
    margin-top: 30px;
    color: cornsilk;
    font-family: 'Turret Road', cursive;
    font-size: 40px;
    font-weight: bold;
   
}
h4.card-title {
    text-align: center;
}
h6 {
    font-size: 35px;
    font-family: 'Turret Road', cursive;
}

p.card-text{ 
    background-color: rgba(43, 42, 42, 0.9); 
    border-radius: 8px 5px;
    color: white;
  
}

div.col-md-4 {
    background-color: rgba(61, 60, 60, 0.4); 
}
div.card-block {
    text-align: center;
}
.buscaNaoEncontrada {
    text-align: center;
    font-family: 'Mansalva', cursive;
    color: cornsilk;
   
}

.bg{
    background: url('/assets/tela2.jpg') no-repeat center center fixed;
    background-position: 30% 45%;
    background-size: cover;
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    
  }
