<div class="bg">
  <div class="row">
    <div class="container titulo">
      <h1>Um pouco sobre mim...</h1>
    </div>
    <div class="card col-md-8">
      <div class="card-body">
        <h5 class="card-title">Olá, me chamo Jennyfer Rebeka Dutra, prazer.</h5>
        <p class="card-text">Nasci no Brasil, Recife-PE e atualmente vivo em Lisboa-PT há quase dois
          anos.
          Depois de muitos acontecimentos na vida, alguns cursos e mudanças de
          ideias, hoje eu venho construindo uma nova etapa em Programação.
          Um mundo completamente fora do padrão que sempre tive.
          Gosto de mudanças e desafios, e tento sempre me doar por completo ao que me proponho a
          fazer.
        </p><br>
        <p>Este site foi criado e desenvolvido para guardar
          todas as informações de um apaixonado por games e seu universo, no caso o meu.
          Um espaço em que vislumbro seu crescimento e a possibilidade de interação com os
          internautas, quem sabe!<br>
          Aqui encontra-se um pedaçinho do meu mundo paralelo e uma
          das coisas em que gosto de passar o tempo livre.</p>
        <br>
        <p>Me foi proposto um site em que fosse utilizado os assuntos adquiridos
          durante o curso de fullSack-developer. E juntando aquilo que amo, com o que tenho
          aprendido a amar... Apresento-vos, o meu "Arsenal de Jogos".<br>
          Espero mesmo que goste e que possas acompanhar o meu desenvolvimento nessa nova
          fase da minha vida.</p>

        <p class="card-text"><small class="text-muted">Jennyfer Rebeka Simplicio Silva Dutra</small></p>
      </div>
    </div>
    <!-- area mensagem  -->
    <div class="col-md-4">
      <div class="container form">
        <form [formGroup]="Form" class="send"  method="post" name="contact" action ="https://formspree.io/xarkebvm">
          <div class="form-group">
          <h2>Enviar uma mensagem...</h2>
          <label for="name">Nome</label>
          <input type="text" class="form-control" formControlName="name" name="name" placeholder="Seu nome..">

          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" name="email" placeholder="seu@email.com">

          <label for="subject">Mensagem</label>
          <textarea id="Body" class="form-control" formControlName="mensg" name="mensg" placeholder="Escreva sua mensagem.." style="height:200px"></textarea>

          <input type="submit" (click)="onSubmit()" value="Enviar">
        </div>
        </form>
      </div> <!-- fim FormGroup -->
    </div>
    <!-- area redes sociais  -->
    <div class="social ">
        <h2 class="social">Mídias Sociais:</h2>
      <a href="https://www.instagram.com/jennybeka" class="btn btn-social-ícone btn-instagram">
        <span class= " fa fa-instagram "></span>
      </a>
      <a href="https://www.linkedin.com/in/jennyfer-rebeka-a1ba2ab1/" class="btn btn-social-ícone btn-linkedin">
        <span class= " fa fa-linkedin "></span>
      </a>
      <a href="mailto:jennybekadutra@gmail.com?Subject=Hello%20" class="btn btn-social-ícone btn-google">
        <span class= " fa fa-google "></span>
      </a>
    </div>
  </div>
 
</div>
