* {
  margin: 0;
  padding:0;
}

body {
 
  background: rgb(169,168,173);
  background: linear-gradient(90deg, rgba(169,168,173,0.5107085070356268) 0%, rgba(51,51,55,0.7404003837863271) 57%, rgba(146,130,100,1) 100%);
  }


  /* body {
    background: url('/assets/tela2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  } */