<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <div class="container">
    <h1 class="titulo">Lista de jogos</h1>
    <table class="table-responsive table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th scope="col">Consoles: </th>
          <th scope="col">Play 1</th>
          <th scope="col">Play 2</th>
          <th scope="col">Play 4</th>
          <th scope="col">Mega Drive</th>
          <th scope="col">Nintendo Switch</th>
          <th scope="col">Nintendo 64</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>BOMBERMAN WORLD</td>
          <td>2012 FIM DO MUNDO </td>
          <td>GOD OF WAR </td>
          <td>SONIC THE HEDGEHOG 2</td>
          <td>Diablo III: Internal Collection</td>
          <td> DONKEY KONG 64</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>SPIDER-MAN </td>
          <td>A ERA DO GELO</td>
          <td>RED DEAD REDEMPTION 2 </td>
          <td>TOY STORY</td>
          <td>SUPER MARIO </td>
          <td>MARIO PARTY</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>CRASH BANDICOOT 1</td>
          <td>ALLADIN</td>
          <td>BATTLEFIELD V </td>
          <td>STREETS OF RAGE 1</td>
          <td>THE LEGEND OF ZELDA: BREATH OF THE WILD</td>
          <td>ZELDA: OCARINA OF TIME</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>LEGACY OF KAIN: SOUL REAVER</td>
          <td>ANIMANIACS THE GREAT EDGAR HUNT</td>
          <td>THE LAST OF US</td>
          <td>STREETS OF RAGE 2</td>
          <td>SUPER SMASH BROS. ULTIMATE</td>
          <td>ZELDA: MAJORA'S MASK</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>METAL GEAR SOLID (1998)</td>
          <td> ASTERIX & OBELIX AND CAESAR CHALLENGE</td>
          <td>DETROIT: BECOME HUMAN</td>
          <td>STREETS OF RAGE 3</td>
          <td>MARIO + RABBIDS KINGDON BATTLE</td>
          <td>SUPER MARIO 64</td>

        </tr>
        <tr>
          <th scope="row"></th>
          <td>DIABLO</td>
          <td>BOMBERMAN</td>
          <td>UNCHARTED 4</td>
          <td>SHINOBI III</td>
          <td>OWLBOY</td>
          <td>STAR FOX</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>CASTLEVANIA: SYMPHONY OF THE NIGHT</td>
          <td>CRASH 1 THE WRATH OF CORTEX </td>
          <td>MOSS</td>
          <td>ALADDIN</td>
          <td>OVERCOOKED</td>
          <td>STAR WARS EPISODE 1</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>TOMB RAIDER II</td>
          <td>DONKEY KONG COUNTRY TRILOGY</td>
          <td>RESIDENT EVIL 2 REMAKE</td>
          <td>GOLDEN AXE</td>
          <td>MARIO TENNIS ACES</td>
          <td>F-ZERO X </td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>FINAL FANTASY 7</td>
          <td>FINAL FANTASY </td>
          <td>METRO EXODUS</td>
          <td>WORLD OF ILLUSION</td>
          <td>MAX</td>
          <td>DIDDY KONG RACING</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>TEKKEN 3</td>
          <td>CASTLEVANIA: SYMPHONY OF THE NIGHT </td>
          <td>DARK SOULS REMASTERED</td>
          <td>TOE JAM & EARL</td>
          <td>LAYERS OF FEAR</td>
          <td>MARIO KART</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>STREET FIGHTER ALPHA 3</td>
          <td>GTA MODIFICADO SAN ANDREAS </td>
          <td>RESIDENT EVIL 7</td>
          <td>ALEX KIDD IN THE ENCHANTED CASTLE</td>
          <td>DAWN OF SURVIVORS</td>
          <td>RESIDENT EVIL 2</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>FINAL FANTASY VIII</td>
          <td>GUITAR HERO</td>
          <td>STREET FIGHTER V</td>
          <td>TOP GEAR</td>
          <td>MARIO KART</td>
          <td>POKÉMON STADIUM</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>RESIDENT EVIL 2</td>
          <td>PACMAN WORLD</td>
          <td>DRAGON BALL FIGHTERZ</td>
          <td>FATAL FURY</td>
          <td>MORTAL KOMBAT</td>
          <td>BOMBERMAN 64</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>SILENT HILL</td>
          <td>PRINCE OF PERSIA 1</td>
          <td>-</td>
          <td>ETERNAL CHAMPIONS</td>
          <td>-</td>
          <td>-</td>

        </tr>
        <tr>
          <th scope="row"></th>
          <td>GRAN TURISMO 2L</td>
          <td>SUPER MARIO WORLD</td>
          <td>-</td>
          <td>STREET FIGHTER II - SPECIAL CHAMPION EDITION</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <th scope="row"></th>
          <td>DRIVER L</td>
          <td>TOY STORY</td>
          <td>-</td>
          <td>MORTAL KOMBAT</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>NEED FOR SPEED III: HOT PURSUIT</td>
          <td>CALL OF DUTY</td>
          <td>-</td>
          <td>VIRTUAL RACING</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>NEED FOR SPEED HOT PURSUIT 2</td>
          <td>RESIDENT EVIL</td>
          <td>-</td>
          <td>MEGA MEAN</td>
          <td>-</td>
          <td>-</td>
        </tr>


      </tbody>
    </table>
  </div>
</div>